extends layout

block content
  h1= title
  
  if department_list
    table
      tr
        th Name
      each department in department_list
        tr
          td: a(href=department.url) #{department.name}
  else
    p There are no department.
