extends layout

block content

  h1 Department: #{department.name}

  div(style='margin-left:20px;margin-top:20px')

    h4 Employees

    if department_employees.length
      table
        tr
          th Name
          th ID
        each employee in department_employees
          tr
            td: a(href=employee.url) #{employee.name}
            td #{employee.employee_number}
    else
      p This department has no employees.

  hr
  p
    a(href=department.url+'/delete') Delete department
  p
    a(href=department.url+'/update') Update department
