extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='name') Department:
      input#name.form-control(type='text', placeholder='...' name='name' value=(undefined===department ? '' : department.name), require='true' )
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
