extends layout

block content
  h1 #{title}: #{department.name}

  if department_employees.length

    p #[strong Delete the following employees before attempting to delete this department.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Employees

      dl
      each employee in department_employees
        dt
          a(href=employee.url) #{employee.name}
        dd #{employee.date_of_birth}

  else
    p Do you really want to delete this Department?

    form(method='POST' action='')
      div.form-group
        input#departmentid.form-control(type='hidden',name='departmentid', required='true', value=department._id )

      button.btn.btn-primary(type='submit') Delete
