extends layout

block content
  h1 #{title}: #{employee.name}

  if employees_offsprings.length

    p #[strong Delete the following offsprings before attempting to delete this employee.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Offsprings

      dl
      each offspring in employees_offsprings
        dt
          a(href=offspring.url) #{offspring.first_name} : #{offspring.date_of_birth}

  else
    p Do you really want to delete this Employee?

    form(method='POST' action='')
      div.form-group
        input#employeeid.form-control(type='hidden',name='employeeid', required='true', value=employee._id )

      button.btn.btn-primary(type='submit') Delete
