extends layout

block content
  h1= title
  if employee_list.length
    table
      tr
        th Name
        th Manager
      each employee in employee_list
        tr
          td: a(href=employee.url) #{employee.name}
          td #{employee.manager.name}
  else
    p There are no employee
