extends layout

block content
  h1 Employee: #{employee.name}

  p #[strong Manager:]
    a(href=employee.manager.url) #{employee.manager.name}
  p #[strong Date of birth:] #{employee.date_of_birth_formatted}
  p #[strong Employee number:] #{employee.employee_number}
  p #[strong Department:]&nbsp;
    each val, index in employee.department
      a(href=val.url) #{val.name}
      if index < employee.department.length - 1
        |,

  div(style='margin-left:20px;margin-top:20px')
    h4 Offsprings

    each offspring in off_springs
      hr
      p.text-success
        a(href=offspring.url) #{offspring.first_name}

    else
      p There are no offsprings of this employee in the library

  hr
  p
    a(href=employee.url+'/delete') Delete Employee
  p
    a(href=employee.url+'/update') Update Employee
