extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='first_name') First Name:
      input#first_name.form-control(type='text', placeholder='First Name' name='first_name' required='true' value=(undefined===employee ? '' : employee.first_name) )
    div.form-group
      label(for='family_name') Family Name:
      input#family_name.form-control(type='text', placeholder='Family Name' name='family_name' required='true' value=(undefined===employee ? '' : employee.family_name) )
    div.form-group
     label(for='manager') Manager:
     select#manager.form-control(type='select' placeholder='Select manager' name='manager' required='true' )
       for manager in managers
         if employee
           //- Handle GET form, where employee.manager is an object, and POST form, where it is a string.
           option(
             value=manager._id
             selected=(
               manager._id.toString()==employee.manager._id
               || manager._id.toString()==employee.manager
             ) ? 'selected' : false
           ) #{manager.name}
         else
           option(value=manager._id) #{manager.name}
    div.form-group
      label(for='date_of_birth') Date of birth:
      input#date_of_birth.form-control(type='date', name='date_of_birth', value=(undefined===employee ? '' : employee.date_of_birth), placeholder='dd/mm/yyyy' )
    div.form-group
      label(for='employee_number') Employee number:
      input#employee_number.form-control(type='text', placeholder='Employee Number' name='employee_number' value=(undefined===employee ? '' : employee.employee_number) required='true')
    div.form-group
      label Department:
      div
        for department in departments
          div(style='display: inline; padding-right:10px;')
            input.checkbox-input(type='checkbox', name='department', id=department._id, value=department._id, checked=department.checked )
            label(for=department._id) #{department.name}
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
