extends layout

block content
  h1= title
  p Welcome to #[em Company Website]!

  h1 Company status
  p This information is guaranteed to be updated dynamically.

  if error
    p Error getting dynamic content.
  else
    p Company current status:

    ul
      li #[strong Employees:] !{data.employee_count}
      li #[strong Offsprings:] !{data.off_spring_count}
      li #[strong Managers:] !{data.manager_count}
      li #[strong Departments:] !{data.department_count}
