doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/script.js")
  body
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-2')
          block sidebar
            ul(class='sidebar-nav' id='list')
              li
                a(href='/catalog')
                  img.logo(src='/images/logo_cropped.png' alt='Logo')
              li
                a(id='btn1' href='/catalog') Home
              li
                a(id='btn2' href='/catalog/employees') All employees
              li
                a(id='btn3' href='/catalog/managers') All managers
              li
                a(id='btn4' href='/catalog/departments') All departments
              li
                a(id='btn5' href='/catalog/offsprings') All off-springs
              li
                hr
              li
                a(id='btn6' href='/catalog/manager/create') Create new manager
              li
                a(id='btn7' href='/catalog/department/create') Create new department
              li
                a(id='btn8' href='/catalog/employee/create') Create new employee
              li
                a(id='btn9' href='/catalog/offspring/create') Create new off spring
              li.bottom
                a.clock
                  div#myClockDisplay

        div(class='col-sm-10')
          block content
