extends layout

block content
  h1 #{title}: #{manager.name}
  p= manager.date_of_birth

  if manager_employees.length

    p #[strong Delete the following employees before attempting to delete this manager.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Employees

      dl
      each employee in manager_employees
        dt
          a(href=employee.url) #{employee.name}
        dd #{employee.date_of_birth}

  else
    p Do you really want to delete this Manager?

    form(method='POST' action='')
      div.form-group
        input#managerid.form-control(type='hidden',name='managerid', required='true', value=manager._id )

      button.btn.btn-primary(type='submit') Delete
