extends layout

block content
  h1= title
  
  if manager_list
    table
      tr
        th Name
      each manager in manager_list
        tr
          td: a(href=manager.url) #{manager.name}
  else
    p There are no managers in this company.
