extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='first_name') First Name:
      input#first_name.form-control(type='text', placeholder='First name (Christian) last' name='first_name' required='true' value=(undefined===manager ? '' : manager.first_name) )
      label(for='family_name') Family Name:
      input#family_name.form-control(type='text', placeholder='Family name (surname)' name='family_name' required='true' value=(undefined===manager ? '' : manager.family_name))
    div.form-group
      label(for='date_of_birth') Date of birth:
      input#date_of_birth.form-control(type='date', name='date_of_birth', value=(undefined===manager ? '' : manager.date_of_birth), placeholder='dd/mm/yyyy' )
    div.form-group
      label Department:
      div
        for department in departments
          div(style='display: inline; padding-right:10px;')
            input.checkbox-input(type='checkbox', name='department', id=department._id, value=department._id, checked=department.checked )
            label(for=department._id) #{department.name}
    button.btn.btn-primary(type='submit') Submit
  if errors
    ul
      for error in errors
        li!= error.msg
