extends layout

block content

  h1 Manager: #{manager.name}
  p #[strong Date of Birth:] #{manager.date_of_birth_formatted}
  p #[strong Department:]&nbsp;
    each val, index in manager.department
      a(href=val.url) #{val.name}
      if index < manager.department.length - 1
        |,

  div(style='margin-left:20px;margin-top:20px')

    h4 Employees

    ul
    each employee in manager_employees
      li
        a(href=employee.url) #{employee.name}
    else
      p This manager has no employees.

  hr
  p
    a(href=manager.url+'/delete') Delete manager
  p
    a(href=manager.url+'/update') Update manager
