extends layout

block content

  h1 Offspring: #{offspring.first_name}

  p #[strong Employee:]
    a(href=offspring.employee.url) #{offspring.employee.name}
  p #[strong Date of birth:] #{offspring.date_of_birth_formatted}

  hr
  p
    a(href=offspring.url+'/delete') Delete offspring
  p
    a(href=offspring.url+'/update') Update offspring
