extends layout

block content
  h1 #{title}: #{offspring.name}

  p Do you really want to delete this Offspring?

  form(method='POST' action='')
    div.form-group
      input#offspringid.form-control(type='hidden',name='offspringid', required='true', value=offspring._id )

    button.btn.btn-primary(type='submit') Delete
