extends layout

block content
  h1= title
  
  if offspring_list
    table
      tr
        th Name
        th Parents
      each offspring in offspring_list
        tr
          td: a(href=offspring.url) #{offspring.first_name}
          td: a(href=offspring.employee.url) #{offspring.employee.name}
  else
    p This list doesn't exist.
