extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='employee') Employee:
      select#employee.form-control(type='select' placeholder='Select employee' name='employee' required='true')
        for employee in employee_list
          if offspring
            option(value=employee._id selected=(employee._id.toString()==offspring.employee._id || employee._id.toString()==offspring.employee) ? 'selected' : false) #{employee.name}
          else
            option(value=employee._id) #{employee.name}

    div.form-group
      label(for='first_name') First Name:
      input#first_name.form-control(type='text' placeholder='First Name' name='first_name' required='true' value=(undefined===offspring ? '' : offspring.first_name))
    div.form-group
      label(for='date_of_birth') Date of Birth:
      input#date_of_birth.form-control(type='date' name='date_of_birth' value=(undefined===offspring ? '' : offspring.date_of_birth))

    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
