.container-fluid {
  padding-left: 0;
}

.sidebar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar-nav li a {
  display: block;
  color: #000;
  padding: 9px 16px;
  text-decoration: none;
}

.sidebar-nav li a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar-nav li a:hover:not(.active), .clock {
  background-color: #555;
  color: white;
}

.bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}

#myClockDisplay {
  color: white;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}
